.tetemunhos-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tetemunhos-conteudo {
    width: 800px;
}

.tetemunhos-conteudo__perfil {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tetemunhos-conteudo__autor {
    text-align: center;
    margin-top: 15px;
}

.tetemunhos-conteudo__texto {
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
}

.texto__titulo {
    font-size: 35px; 
    color: var(--azul-primario);
}

.tetemunhos-conteudo__texto .texto__titulo {
    text-align: center;
}

.tetemunhos-conteudo__texto .texto__edit {
    margin-top: 25px;
    text-align: end;
}

.tetemunhos-conteudo__acoes {
    margin-top: 40px;
}

.tetemunhos-conteudo__acoes>* {
    font-size: 40px;
    margin-right: 40px;
}
