#conteudo{
    margin-top: 50px;
    /* margin-bottom: 150px; */
} 

#tituloSecaoPesquisa {
    font-size: 20px;
    text-align: center;
    margin: 30px 10%;
}

#tituloTestemunhos {
    text-align: center;
    margin: 40px 0;
}
