#enviar {
    padding: 5px 50px;
    border-radius: 5px;
    background-color: SteelBlue;
    color: white;
    display: block;
    margin: 0 auto;
}

#enviar:hover {
    background-color: white;
    color: SteelBlue;
    border-color: SteelBlue;
}

#formulario {
    /*     background: #ccc; */
    padding: 50px;
}

#titulo {
    width: 100%;
    border-radius: 5px;
    background: rgba(156, 149, 149, 0.3);
    border-style: none;
    padding: 5px;
    /*     color: white; */
}

#testemunho {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    background: rgba(156, 149, 149, 0.3);
    border-style: none;
    padding: 5px;
}

#desativado{
    margin-left: 15px;
}