.comentario__container {
    width: 100%;
    margin-top: 40px;
}

.comentario__container>* {
    margin-right: 15px;
}

.comentario__perfil-container {
    margin-top: 15px;
}

.comentario__perfil {
    width: 80px;
    height: 80px;
}

.comentario-info {
    width: 100%;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.comentario__autor {
    width: 100%;
}

.comentario__autor>p:first-child {
    margin: 0;
    padding: 0;
}

.comentario__desc {
    margin-top: 5px;
}

.comentario__data {
    text-align: end;
}

.comentario-info .dropdown-menu {
    background-color: var(--azul-secondario);

}

.comentario-info .dropdown-menu .dropdown-item {
    color: white;

}

.comentario-info .dropdown-menu .dropdown-item:hover {
    background-color: var(--azul-200);
}


/* Modal excluir, */
#excluirModal {
    text-align: center; 
}

/* Modal denunciar */
.radio {
    margin-right: 10px;
    margin-bottom: 5px;
}

#conteNos {
    margin-top: 20px;
    border-style: none;
    border-bottom-style: solid ;
    width: 100%;
    outline: none;
}
#conteNos:hover{
    border-color: steelblue;
}

#conteNos:focus {
    border-color: steelblue;
}


#denunciar {
    padding: 5px 50px;
    border-radius: 5px;
    background-color: SteelBlue;
    color: white;
    display: block;
    margin: 0 auto;
}

#denunciar:hover {
    background-color: white;
    color: SteelBlue;
    border-color: SteelBlue;
}
